* {
    margin: 0px;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Archivo", sans-serif;
    background-color: #FFF;
}

/*INICIO HEADER */
header {
    background-color: #434DAC;
    background-size: 100%;

}

nav ul {
    padding: 30px 86px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    max-width: 1600px;

}

/* BOTONERA*/
.botonera {
    /*al hacer scroll quedarian fijos en la pantalla de la pantalla.*/
    background-color: #434dac;
    color: #fff;
    display: flex;

}

.botonera ul li a {
    color: #fff;
    font-family: "Archivo", sans-serif;
    font-size: 24px;
    font-weight: 800;
    border-radius: 60px;
    border: 1px solid #fff;
    padding: 20px 40px;
    font-weight: 300;
    text-decoration: none;
    align-content: space-between;
}

.botonera ul li {
    align-content: center;
    }

/* FIN BOTONERA*/

/* PRESENTACION*/
.presentación {
    display: flex;
    justify-content: left;
}

header #titulos-presentación {
    padding: 0px 86px;
}

header #botones-contacto {
    /*al hacer scroll quedarian fijos en la pantalla de la pantalla.*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1,h2,h3 {
    font-weight: 400;
    line-height: normal;

}

h1 {
    color: #D9703C;
    font-family: "Bungee", sans-serif;
    font-size: 110px;
}

header h2,h3 {
    color: #FFF;
    font-family: "Bungee Hairline";
}

h2 {
    font-size: 60px;
}
/* -FIN PRESENTACION-
FIN HEADER*/

/*INICIO MAIN */

main {
    padding: 0px
}

/* SOBRE MI */
.sobre-mi {
    display: flex;
    width: 100%;
}

.información {
    width: 100%;
    padding: 0px 86px;
    flex-direction: column;
}

main h3 {
    font-family: "Bungee Hairline";
    font-size: 64px;

}

main h3,h4 {
    color: #434DAC;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

main h4 {
    font-size: 48px;
}

main h4, .información h5 {
    font-family: "Bungee", sans-serif;}

.información h5 {
    color: #D9703C;
    font-size: 20px;
    font-weight: 400;
}

.información p {
    color: #434DAC;
    font-family: "Archivo", sans-serif;
    font-size: 24px;
    font-style: normal;
    
}
/* FIN SOBRE MI */
/* HOBBIES */
.hobbies {
    background-color: #D9703C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 86px;
}
 /* FIN HOBBIES */
/*SECTION ESTUDIOS/EXPERIENCIA*/

.importante{
   display: flex;
   width: 100%;
   height: auto;
}

.educacion, .experiencia{
    border-radius: 60px;
    border: 2px solid  #434DAC;
    padding: 40px;
    margin: 86px;
}

/*ARTICLE IDIOMAS*/
.idiomas {
    color: #fff;
    background-color: #434DAC;
    width: 792px;
}

.idiomas h3{
    color: #fff;
    padding: 40px;
    margin: 0px;
}

.idiomas ul li {
    padding: 14px 19px;
    align-content: center;
    gap: 38px;
    border-radius: 60px;
    border: 4px solid #FFF;
}

.idiomas ul{
    height: 441px;
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
}
 

/*FIN MAIN*/

/*INICIO FOOTER*/

/*FIN FOOTER*/

/*TIPOGRAFIA Y COLOR*/
h5 {
    color: #EE6320;
    font-family: "Archivo Black", sans-serif;
    font-size: 20px;
    font-weight: 800;
}

h6 {
    color: #EE6320;
    font-family: Archivo;
    font-size: 15px;
    font-weight: 400;
}

p {
    color: #434dac;
}



/*en figma está el boceto casi terminado del cv, dejé algunos comentarios ahí porque en secciones complejas tengo algunas dudas en como dividir correctamente las etiquetas.
https://www.figma.com/file/WK1WXK7ULTz1zqrW1Tc6Rn/cv-rominapanzardo?type=design&node-id=1%3A93&mode=dev&t=drp8cNpvRlzo4oGo-1 */