@charset "utf-8";
/* CSS Document */

.presentación {
    background-color: #E6E6E6;
    height: 400px;
    width: 1627px;
    padding:0px
    }

header h1 {
    color: #D9703C;
    font-size: 36px;
    font-family: Nohemi;
    font-style: italic;
    font-weight: 400;
    padding: 50px 0px 0px 50px;
}

header h3 {
    color: #D9703C;
    font-size: 80px;
    font-family: Nohemi;
    padding: 0px 0px 0px 50px;
    
}

header h2 {
    color: #D9703C;
    font-size: 40px;
    font-family: Archivo;
    
    
    padding: 0px 0px 0px 50px;
}
.foto-cv{
    padding: 50px 15px;
    float: right;
    padding: 50px 50px;
}
#edad-localidad ul{
    color: #3342CC;
    font: size 24px;
}

ul{
   list-style-type: none;
   padding: 0px;
   }

   h4{
    color: #3342CC;
   }
