* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body {
    font-family: Archivo;
    color: #434DAC;
    background-color: #FFF;
}

header {
    background-color: #434DAC;
    background-size: 100%;
}

nav ul {
    padding: 30px 120px 30px; /*en lugar de un padding tan grande te va a convenir que la ul tenga un max-width, por ej 1600px, entonces va a crecer hasta cierto punto, pero sí le pondría un padding menor para que en pantallas más pequeñas no tengas un padding enorme pero tampoco esté pegado al borde, o algún tipo de justify */
    width: 100%;
    display: flex; /*me hace mal que el logo no esté centrado respecto a los demás botones, igual es por dos px pero con algún tipo de alineación al centro va a ir mejor*/
    justify-content: space-between; 
}

.botonera {
   /*al hacer scroll quedarian fijos en la pantalla de la pantalla.*/
    background-color: #434dac; /*el padre (header) ya tiene este bg, no hace falta volver a aplicarlo acá, a menos que el color fuese distinto*/
    height: 130px; /*para mi si le sacás la altura queda mucho más simétrico y con los paddings tiene un buen tamaño, no haría falta aplicarlo*/
    color: #fff;
    display: flex;
}

nav ul li {
    color: #fff;
    font-family: Archivo;
    font-size: 24px;
    font-weight: 800;
    border-radius: 60px;
    border: 1px solid #fff;
    padding: 20px 40px;
}

.presentación {
    padding: 0 86px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

h1,h2 {
    font-size: 110px;
    font-weight: 400;
}

h1 {
    color: #D9703C;
    font-family: "Bungee", sans-serif;
}

header h2,h3 {
    color: #FFF;
    font-family: "Bungee Hairline";
}

header h3 {
    font-size: 50px;
    font-weight: 400;
}

header #botones-contacto { /*al hacer scroll quedarian fijos en la pantalla de la pantalla.*/
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
} /*no pude resolver que esten alineados verticalmente a la mitad del header como en el boceto de figma*/

main {
    padding: 0 86px;
    display: flex;
}

/*en figma está el boceto casi terminado del cv, dejé algunos comentarios ahí porque en secciones complejas tengo algunas dudas en como dividir correctamente las etiquetas.
https://www.figma.com/file/WK1WXK7ULTz1zqrW1Tc6Rn/cv-rominapanzardo?type=design&node-id=1%3A93&mode=dev&t=drp8cNpvRlzo4oGo-1 */
